@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}


.custom-img {
  width: 100% !important;
  height: 100% !important;
}

.unset-img {
  width: 100%;
}
.unset-img > div {
  position: unset !important;
}

.imageContainer {
  width: 100%;
}
.imageContainer >div {
      position: unset !important;
  }

.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}
.image-category {
  background: rgba(0,0,0,0.5);
}